@font-face {
  font-family: neue;
  src: url();
}
*
{
  margin: 0;
  padding: 0%;
}
.top-nav
{
  padding: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  color: rgb(0, 0, 0);
}